{%extends "master.html"%}
{%block content%}
<center>
    <div class="container">
      <h1 style="text-decoration: underline;">Customers</h1>
    </div>
</center>
<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">mail_id</th>
        <th scope="col">amount(in RS)</th>
        
        
      </tr>
    </thead>
    <tbody>
       {%for c in cust%} 
      <tr>
        <th scope="row">{{c.id}}</th>
        <td>{{c.mail_id}}</td>
        <td>{{c.amount}}</td>
        
      </tr>
      {%endfor%}
    </tbody>
  </table>
{%endblock%}